body{
	margin: 0;
	height: 1600px;
	background-color: rgba(0,0,0,0.9);
}

#box1{
	top: 150px;
	background-color: #333;
	height: 900px;
	width: 80%;
	border-radius: 5px; 
	left: 10%;
	position: relative;
}
#top-menu{
	width: 95%;
	position: relative;
	left: 2.5%;
	background-color: #222;
	border-radius: 5px;
	height: 50px;
	top: 20px;
}
#top-menu-right{
	top: -38px;
	color: #aaa;
	position: relative;
	left: 90%;
	width: 90px;
	height: 25px;
	text-align: center;
	cursor: pointer;
}
#top-menu-right:hover{
	background-color: #222;
	color: #fff;
}
#top-menu-right:hover .sub-top-menu-right{
	display: block;
}
.sub-top-menu-right{
	height: 40px;
	width: 80px;
	position: relative;
	top: 6.7px;
	display: none;
	background-color: #222;
	cursor: pointer;
/*	border: 2px solid #222;*/
}
.sub-top-menu-right a{
	text-decoration: none;
	color: #aaa;
}
.sub-top-menu-right a:hover{
		color: #fff;
}
.sub-tmr-title{
	left: 5px;
	position: relative;
}

/*#top-menu-right img{
	position: relative;

}*/
#top-menu-logo{	
	overflow: hidden;

	height: 40px;
	margin: 5px;
}
.top-menu-button{
	color: #aaa;
	display: inline-block;	
	text-align: center;
	overflow: hidden;
	margin: 10px;
	height: 30px;
	padding-right: 25px;
	font-size: 16px;

}
.top-menu-button:hover{
	background-color: #333;
	color: #fff
}
#video-box{
	width: 72.6%;
	height: 49%;
	left: 14%;
	top: 6%;
	position: relative;
	background-color: #444;
	border-radius: 5px;
}
#video-box1-title{
	color: #aaa;
	text-align: center;
	font-size: 23px;
}
#video-box1-title:hover{
	color: #fff;
}
.video{
	position: relative;
	top:  0%;
}
#video-box1{
	height: 200px;
	width: 95%;
	bottom: 100px;
	left: 25px;
	border-radius: 5px;
	position: absolute;
	background-color: #222;
}
#video-top-menu{
	width: 100%;
	height: 30px;
	position: relative;
	background-color: #444;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
	font-size: 20px;
	color: #aaa;
}
#video-box1 a{
	text-decoration: none;

}
#video-top-menu:hover{
	color: #fff;
}
#video1{
	width: 200px;
	height: 125px;
	background-color: #333;
	left: 50px;
	top: 25px;
	position: absolute;

}
#video1 video{
	width: 100%;
	height: 100%;
}
#video2{
	width: 200px;
	height: 125px;
	background-color: #333;
	left: 290px;
	top: 25px;
	position: absolute;
}
#video2 video{
	width: 100%;
	height: 100%;
}
#video3{
	width: 200px;
	height: 125px;
	background-color: #333;
	right: 290px;
	top: 25px;
	position: absolute;
}
#video3 video{
	width: 100%;
	height: 100%;
}
#video4{
	width: 200px;
	height: 125px;
	background-color: #333;
	right: 50px;
	top: 25px;
	position: absolute;
}
#video4 video{
	width: 100%;
	height: 100%;
}
#footer-box1{
	position: absolute;
	top: 220%;
	width: 100%;
	height: 20%;
	background-color: #222;
}
#age-category{
	height: 30px;
	width: 30px;
	text-align: center;
	top: 25px;
	left: 105px;
	position: relative;	
	background-color: #444;
	border: 1.1px solid #111;
	cursor: default;
}
#age-category a{
	text-decoration: none;
	color: #000;
}
#age-category-text{
	top: 6px;
	right: 15px;
	width: 55px;
	position: relative;
}
#privacy-policy{
	left: 500px;
	position: relative;
	font-size: 20px;
	width: 120px;
}
#privacy-policy a{
	text-decoration: none;
	color: #aaa;
}
#privacy-policy a:hover{
	color: #fff;
}
#sait-protection{
	bottom: -35px;
	left: 800px;
	width: 340px;
	position: relative;
}
#sait-protection a{
	color: #aaa;
	text-decoration: none;
}
#sait-protection a:hover{
	color: #fff;
} 	