body{
	margin: 0;	
	background-color: #222;
	padding-top: 60px;
}
#top-menu{
	background-color: rgba(0,0,0,9);
	width: 100%;
	height: 60px;
	position: absolute;
	z-index: 100;
	top: 0;
}
.box{
	width: 100%;
	position: relative;
}
/*#box1-text{
	position: absolute;
	left: ;
	height: 800px;
	width: 800px;	
	color: #b3bdb6;#918d8d
	top: 30px;
}*/
#first{
 	position: absolute;
	right: 20%;
	top: 70px;
	height: 510px;
	width: 800px;
	font-size: 30px;
	color: #b3bdb6;
}
#second{
	position: absolute;
	right: 40%;
	top: 120px;
	height: 510px;
	width: 800px;
	font-size: 25px;
	color: #b3bdb6;
}
#second1{
	position: absolute;
	right: 39.8%;
	top: 160px;
	height: 510px;
	width: 800px;
	color: #918d8d;
	text-align: left;	
}
#second2{
   position: absolute;
	right: 40%;
	top: 250px;
	height: 510px;
	width: 800px;
	font-size: 25px;
	color: #b3bdb6;
}
#second3{
	position: absolute;
	right: 39.8%;
	top: 290px;
	height: 510px;
	width: 800px;
	color: #918d8d;
	text-align: left;
}
#box1-img{
	position: absolute;
	width: 100%;
	left: 64%;
	top: 50px;
}
/*#footer{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #111;
	color: #fff;
	font-size: 30px;
	text-align: center;
}
#footer a{
	color: #fff;
	text-decoration: none;
}
#footer a:hover{
	text-decoration: underline;
}*/
#top-menu-logo{
	position: relative;
	width: 10px;
	height: 10px;
}
#chapter{
	position: absolute;
	right: 40%;
	top: 420px;
	height: 510px;
	width: 800px;
	font-size: 25px;
	color: #b3bdb6;
}
#chapter1{
	position: absolute;
	right: 40%;
	top: 460px;
	height: 510px;
	width: 800px;
	font-size: 25px;
	color: #b3bdb6;
}
#chapter1-img{
	position: absolute;
	right: 40%;
	top: 500px;
	height: 510px;
	width: 800px;
	font-size: 25px;
}
#chapter1-text{
	position: absolute;
	right: 40%;
	top: 720px;
	height: 510px;
	width: 800px;
	font-size: 25px;
	color: #b3bdb6;
}
#chapter2{
	position: absolute;
	right: 40%;
	top: 1100px;
	height: 510px;
	width: 800px;
	font-size: 25px;
	color: #b3bdb6;
}
#chapter2-img{
	position: absolute;
	right: 40%;
	top: 1150px;
	height: 510px;
	width: 800px;
	font-size: 25px;
}
#chapter2-text{
	position: absolute;
	right: 40%;
	top: 1370px;
	height: 510px;
	width: 800px;
	font-size: 25px;
	color: #b3bdb6;
}
#chapter3{
	position: absolute;
	right: 40%;
	top: 1750px;
	height: 510px;
	width: 800px;
	font-size: 25px;
	color: #b3bdb6;
}
#chapter3-img{
	position: absolute;
	right: 40%;
	top: 1800px;
	height: 510px;
	width: 800px;
	font-size: 25px;
}
#chapter3-text{
	position: absolute;
	right: 40%;
	top: 2020px;
	height: 510px;
	width: 800px;
	font-size: 25px;
	color: #b3bdb6;
}
#chapter4{
	position: absolute;
	right: 40%;
	top: 2400px;
	height: 510px;
	width: 800px;
	font-size: 25px;
	color: #b3bdb6;
}
#chapter4-img{
	position: absolute;
	right: 40%;
	top: 2450px;
	height: 510px;
	width: 800px;
	font-size: 25px;
}
#chapter4-text{
	position: absolute;
	right: 40%;
	top: 2670px;
	height: 510px;
	width: 800px;
	font-size: 25px;
	color: #b3bdb6;
}
#talents{
	position: absolute;
	right: 40%;
	top: 3050px;
	height: 510px;
	width: 800px;
	font-size: 45px;
	color: #b3bdb6;
}
#talents-text{
	position: absolute;
	right: 40%;
	top: 3120px;
	height: 510px;
	width: 800px;
	font-size: 25px;
	color: #b3bdb6;
}
::-webkit-scrollbar-track{
    border-width:0;
    background-color: #111;
}
::-webkit-scrollbar{
    width:16px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #000;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #333;
}
#footer{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #111;
	color: #fff;
	font-size: 30px;
	text-align: center;
	top: 3500px;
}
#footer a{
	color: #fff;
	text-decoration: none;
}
#footer a:hover{
	text-decoration: underline;
}